services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate --noinput &&
      python manage.py collectstatic --noinput &&
      gunicorn NOMBRE_DEL_PROYECTO.wsgi:application --bind 0.0.0.0:8000"

    volumes:
      - staticfiles:/app/staticfiles
      - ./media/:/app/media
    expose:
      - "8000"
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - staticfiles:/app/staticfiles
      - ./media/:/app/media
    depends_on:
      - web
volumes:
  staticfiles: