<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}
Lista | MiRedSocial
{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white dark:bg-gray-800 rounded-lg shadow-lg text-center space-y-4">
    <form class="space-y-6" action="{% url 'Super_Social:post_new' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="space-y-4">
        {{ form }}
        </div>
        <button type="submit" class="w-full py-3 px-6">Publicar</button>
    </form>
</div>
    
    <h1 class="font-semibold">Lista de Productos: </h1>
    <ul class="space-y-2">
    {% for product in product_list %}
        <li class="mr-4">{{ product.name }} - {{ product.price }} €</li>
    {% empty %}
        <li>No hay productos disponibles.</li>
    {% endfor %}
    </ul>
{% endblock %}
